.productCardBody{
    margin: 0 auto;
    width: 200px;
    height: 250px;
    border: 1px solid black ;
    border-radius: 10px;
    margin: 10px 10px;
    margin-top: 20px;
    .contentImg{
        text-align: center;

        .productCardImg{
            width: 100px;
            height: 100px;
        }
    }   
        h4{
            font-size: 20px;
            margin: 0px; 
            padding: 5px;
        }
        h5{
            margin: 0px; 
            font-size: 16px;
            padding: 5px; 
        }
        p{
            margin: 0px; 
            padding: 5px;
        }
        button{
            width: 190px;
            height: 30px;
            border-radius: 8px;
            border: 1px solid transparent;
            margin-left: 5px;
            cursor: pointer;
            transition: border-color 0.25s;
            background-color: #0469FF;
            color: white;
            text-align: center;
        }
        button:hover {
            border-color: white;
          }
}