body {
	width: 1440px;
	margin: 0 auto;

	.container{

		.catalog{
			display: flex;
			align-items: center;
			input {
				margin-left: 50px;
				width: 60%;
				height: 50px;
				border-radius: 8px;
				font-size: 28px;
				border: 2px solid #0469ff;
			}
			input:focus{
				outline: none;
				border: 4px solid #0469ff ;
			}
		}

		.wrapper{
			width: 1440px;
			display: flex;
		}
		.cards {
			width: 1150px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		.sideBar {
			width: 290px;
		}
	}
}