body {
	width: 1440px;
	margin: 0 auto;

	.container{

		.wrapper{
			width: 1440px;
			display: flex;
		}
		.cards {
			width: 1150px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		.sideBar {
			width: 290px;
		}
	}
}