.productCard_body{
    display: inline-block;
    margin: 0 auto;
    width: 200px;
    height: 250px;
    border: 1px black solid;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 20px;
    .content_img{
        text-align: center;

        .productCard_img{
            width: 100px;
            height: 100px;
        }
    }   
        h4{
            font-size: 20px;
            margin: 0px; 
            padding: 5px 5px ;
        }
        h5{
            margin: 0px; 
            font-size: 16px;
            padding: 5px 5px; 
        }
        p{
            margin: 0px; 
            padding: 5px 5px
        }
        button{
            width: 190px;
            border-radius: 8px;
            border: 1px solid transparent;
            margin-left: 5px;
            padding: 5px 5px;
            font-size: 1em;
            font-weight: 500;
            font-family: inherit;
            cursor: pointer;
            transition: border-color 0.25s;
            background-color: #0469FF;
            color: white;
            text-align: center;
        }
        button:hover {
            border-color: white;
          }
}